.container-login{
    width: 643px;
    height: 730px;
    background-color: #FDBF50;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.login-title{
    font-size: 35px;
}

.login-img{
    width: 160px;
    height: 160px;
    
}
.login-labels{
    font-size: 25px;
}
.alerts{
    font-size: 17px;
    text-align: left;
    color: rgb(247, 37, 79);
}

@media only screen and (max-width: 960px){

    .container-login{
        width: 320px;
        height: 684px;
        background-color: #FDBF50;
        border-top-left-radius: 50px;
        border-bottom-right-radius: 50px;
    }
    
    .login-img{
        width: 150px;
        height: 150px;
        
    }
    .login-labels{
        font-size: 16px;
    }
}