@import url('https://fonts.google.com/specimen/Roboto');

* { 
    padding:0;
    margin:0;
    font-family: sans-serif;
 }

.col-table { 
    padding-top: 299px;
}

.col-profile {
    padding-top: 60px;
}

.img-banner-admin {
    position: absolute;
    z-index: -1;
    width: 100%;
}

.img-banner-admin > img{
	width: fit-content;
	height: 246px;
    width: 100%;
	object-fit:cover;
}

.buttons-colection{
    margin-top: 57px;
}

.buttons-colection-item{
    margin-bottom: 20px;
}

.btn-admin-profile {
    width: 253px;
    border-radius: 30px !important;
    background-color: #FF724C !important;
    color: #ffff !important;
    font-size: 20px !important;
    height: 56px;
}

.table-item {
    margin-bottom: 20px;
}

.table_background-admin {
    background-color: #F4F4F8;
    padding: 29px 22px 09px 29px;
    width: 958px;
    height: 554px;
}

.table-print-button {
    font-size: 20px;
    border: #000 3px solid !important;
    border-radius: 8px !important;
    height: 44px;
    width: 144px;
}

.table-print-img {
    width: 24px;
    height: 24px;
}


.table-input{
    font-size: 20px;
    width: 353px;
    height: 44px;
}

.table-container{
    padding: 0px !important;
}



@media screen and (max-width: 960px) {
    .table-print-button {
        font-size: 14px;
        border: #000 3px solid !important;
        border-radius: 8px !important;
        height: 44px;
        width: 100px;
    }

    .table-print-img {
        width: 12px;
        height: 12px;
    }

    .table_background-admin {
        background-color: #F4F4F8;
        padding: 14px 8px 0px 8px!important;
        width: 328px;
        height: 500px;
    }

    .table-container{
        padding: 0px 0px 0px 10px !important;
    }

    .btn-admin-profile {
        width: 154px;
        border-radius: 30px !important;
        background-color: #FF724C !important;
        color: #ffff !important;
        font-size: 16px !important;
        height: 48px;
        padding: 0px !important;
    }

    .table-input{
        font-size: 14px;
        width: 213px ;
    }

  }


  @media screen and (max-width:  1400px) {
    .col-table { 
        padding-top: 0px;
    }

    .buttons-colection{
        margin: 20px 0px !important;
    }

  }
